*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--encore-body-font-stack, var(--fallback-fonts, sans-serif)), sans-serif;
    user-select: none;
    line-height: 1.15;
}
body{
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.container{
    flex-direction: column;
    background-color: #000000;
}
.left{
    width: 22.5vw;
    height: 83.5vh;
    margin: 4px;
     background-color: #121212;
     border-radius: 8px;
     color: #ffffff;
}
.right{
    width: 77.5vw;
    height: 83.5vh;
    margin: 4px;
     background-color: #121212;
     border-radius: 8px;
     overflow: hidden;
    /* scrollbar-width: none; */
    position: relative;
}
.Content{
    height: 83.5vh;
    overflow: auto;
    scrollbar-width: none; /* For Firefox */
}

.custom-thumb{
    opacity: 0;
    position: absolute;
    width: 15px;
    /* height: 100%; */
    right: 0px;
    top: 15px;
    background-color: rgba(174, 174, 174, 0.657);
    z-index: 10;
    transition: opacity 0.5s linear;
}
.custom-thumb:hover{
    background-color: rgba(174, 174, 174, 0.846);
}
.logo{
    width: 30vw;
        display: flex;
    align-items: center;
    cursor: pointer;
}
 /* .searchMiddle{
     justify-content: center; 
} */
.line{
    width: 1px;
    height: 25px;
    background-color: white;
}
.login{
    /* width: 30vw; */
    justify-content: space-between;
    color: rgb(169, 166, 166);
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    gap: 20px;
}
/* .instlapp{
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
} */
 .home{
    height: 50px;
    width: 50px;
    background-color: #1f1f1f;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.1s linear;
 }
.home:hover{
    transform: scale(1.05);
 }
 .search{
    height: 50px;
    width: 474px;
    background-color: #1f1f1f;
    border-radius: 50px;
    justify-content:space-between;
    align-items: center;
    margin-left: 10px;
    padding: 0 10px;
    cursor: text;
    transition: outline 0.2s linear, background-color 0.3s linear;
    position: relative;
 }
 .filter{
    position: absolute;
    height: 50px;
    width: 400px;
    left: 0px;
    top: 0px;
    background-color: rgba(39, 39, 39, 0.436);
    border-radius: 50px;
    transition: background-color 0.3s linear;
 }
 .filter:hover{
    background-color: rgba(39, 39, 39, 0.033);
 }
 .search:hover{
    background-color: #2c2c2c;
    outline: 0.5px solid rgb(76, 76, 76);

 }
 .search:focus-within{
    outline: 2px solid white;
    background-color: #2c2c2c;
 }
.head{
    height: 64px;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;
}
.logbtn{
    height: 50px;
    width: 108.3px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    color: rgb(33, 33, 33);
}
.input{
    font-size: 16px;
    width: 370px;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    margin-left: 10px;
    margin-top: 2px;
   
}
input::placeholder{
    color: rgb(201, 201, 201);
    font-weight: 535;
    font-family:var(--encore-body-font-stack, var(--fallback-fonts, sans-serif)), sans-serif;
}
.main{
    /* justify-content: space-around; */
    margin: 0 4px;
    color: white;
}
.lft1 {
    display: flex;
    flex-direction: column;
    /* height: 134px; */
    width: 95%;
    margin: 20px auto 10px auto;
    border-radius: 8px;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    gap: 10px;
    background-color: #1f1f1f;
    padding: 20px;
}
.txt1{
    font-size: 16px;
    font-weight: bold;
}
.txt2{
    font-size: 13px;
    color: rgb(169, 166, 166);
    margin-bottom: 10px;
}
.btn1{
    height: 32px;
    width: 160px;
    border-radius: 50px;
    background-color: rgb(240, 240, 240);
    color: rgb(11, 11, 11);
    font-weight: bold;
    font-size: 14px;
}
.btn{
    cursor: pointer;
    transition: transform 0.1s linear, color 0.2s linear; 
}
.btn:hover{
    transform: scale(1.05);
    color: white;
}
.capi{
    width: 24px;
    cursor: pointer;
    transition: transform 0.2s linear;
    transition :filter 0.2s linear;
}
.capi:hover{
    transform: scale(1.05);
    filter: brightness(1.9);
}
.plus{
    height: 34px;
    width: 34px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.1s linear;
    margin-right: 20px;
}
.plus:hover{
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
.trndS{
    flex-direction: column;
}
.scroll1{
    width: 100%;
    height: 294px;
    background-color: aliceblue;
}
.player{
    height: 80px;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px;
    /* cursor: no-drop; */
}
.layer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000090;
    z-index: -1;
    
}
.player img{
    width: 17px;
    transition: transform 2ms linear;
    cursor: pointer;
}
.player img:hover{
    transform: scale(1.05);
    filter: brightness(1.9);
}
.playing{
    /* border: 1px solid red; */
    /* width: 50px; */
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
}
.plyrlft{
    /* gap: 250px; */
    /* border: 1px solid red; */
    align-items: center;
    width: 1285px;
    justify-content: space-between;
}
.media-player{
    /* border: 1px solid red; */
    flex-direction: column;
    gap: 10px;
}
.lineBar{
    margin-top: 5px;
    width: 606px;
    height: 4px;
    background-color: #ffffff52;
    border-radius: 4px;
}
.vol:hover .ball,
.ball.dragging {
    opacity: 1;
}
.timeLine:hover .ball{
    opacity: 1;
}
.vol:hover .volProgress,
.vol.dragging .volProgress {
    background-color: rgb(2, 171, 2);
    cursor: pointer;
}
.timeLine:hover .lineProgress{
    
    background-color: rgb(2, 171, 2);
    cursor: pointer;
}
.vol{
    cursor: pointer;
}
.lineProgress{
    width: 0%;
    height: 100%;
    background-color: rgb(2, 171, 2);
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    position: relative;
}
.ball{
    position: absolute;
    top: -4px;
    right: -6px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0;
}
.play{
    /* border: 1px solid rgb(43, 100, 174); */
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.playbtn{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
   
    
}
.playbtn img{
    width: 15px;
}
.timeLine{
    gap: 9px;
    color: #ffffffc8;
    font-size: 14px;
}
.other-control{
    gap: 20px;
}
.other{
    gap: 20px;
    z-index: 2;
}
.volbar{
    height: 4px;
    width: 93px;
    background-color: #ffffff52 ;
    border-radius: 4px;
}




